.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}
.image {
  width: 102px;
  background-repeat: repeat;
}
.background-image-container {
  background-image: url("../../assets/images/ba.jpeg");
  background-repeat: repeat;
  height: 162px;
  width: 180px;
}
