.mat-card {
  height: 96%;
  width: 32%;
  background-color: #d80532;
  margin-left: 510px;
  border-radius: 101px;
}
.img {
  height: 45%;
  border-radius: 58px;
}
.button {
  width: 23%;
  margin-left: 186px;
  margin-top: 28px;
  background-color: #5e0ded !important;
  color: white !important;
}
