<div *ngIf="zomatoAllInfo" style="background: azure; border: solid #8deeee">
  <form [formGroup]="zomatoAdmin">
    <div style="display: flex; flex-direction: row">
      <!-- <mat-card class="mat-card">
        <b class="label"><mat-label>Hotel Id</mat-label></b>
        <mat-form-field>
          <mat-select
            placeholder=" id"
            formControlName="id"
            (selectionChange)="selectiOnChangehotel()"
          >
            <mat-option
              *ngFor="let item of zomatoAllInfo[0].hotelDetails"
              [value]="item.id"
              >{{ item.id }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card> -->
      <mat-card class="mat-card">
        <b class="label"><mat-label> Hotel Name</mat-label> </b>
        <mat-form-field>
          <mat-select placeholder=" Name" formControlName="hotelName">
            <mat-option *ngFor="let item of getHotelInfo" [value]="item.name"
              >{{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
      <!-- <mat-card class="mat-card">
        <b class="label"><mat-label> Hotel Location </mat-label></b>
        <mat-form-field>
          <mat-select placeholder="Location" formControlName="location">
            <mat-option *ngFor="let item of locationArray" [value]="item">{{
              item
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card> -->
      <!-- <mat-card class="mat-card">
        <b class="label"><mat-label>cuisines </mat-label></b>

        <mat-form-field>
          <mat-select placeholder="cuisines" formControlName="cuisines">
            <mat-option *ngFor="let item of cuisinesArray" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card> -->
      <!-- <mat-card class="mat-card">
        <b class="label"><mat-label> Hotel Time </mat-label></b>

        <mat-form-field>
          <mat-select placeholder="Time" formControlName="time">
            <mat-option *ngFor="let item of timeArray" [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card> -->
      <!-- </div>
    <div style="display: flex; flex-direction: row; margin-top: 16px"> -->
      <mat-card class="mat-card">
        <b class="label"><mat-label> Food Category</mat-label></b>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Category"
            formControlName="category"
          />
          <!-- <mat-select placeholder="Category" formControlName="category">
            <mat-option
              *ngFor="let item of zomatoAllInfo[0].menu"
              [value]="item.category"
              >{{ item.category }}
            </mat-option>
          </mat-select> -->
        </mat-form-field>
      </mat-card>

      <mat-card class="mat-card">
        <b class="label"><mat-label> Food Type </mat-label></b>

        <mat-form-field>
          <input matInput placeholder="Type" formControlName="type" />
          <!-- <mat-select placeholder="Type" formControlName="type">
            <mat-option
              *ngFor="let item of zomatoAllInfo[0].menu[0].type"
              [value]="item"
              >{{ item }}
            </mat-option>
          </mat-select> -->
        </mat-form-field>
      </mat-card>
      <!-- <mat-card class="mat-card">
        <b class="label"><mat-label>mainCourse </mat-label></b>

        <mat-form-field>
          <mat-select placeholder="mainCourse" formControlName="mainCourse">
            <mat-option *ngFor="let item of maincourseArray" [value]="item.name"
              >{{ item.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card> -->
      <mat-card class="mat-card">
        <b class="label"><mat-label>Dish Name </mat-label></b>

        <mat-form-field>
          <input matInput placeholder="Dish" formControlName="dish" />
          <!-- <mat-select placeholder="Dish" formControlName="dish">
            <mat-option *ngFor="let item of dessertArray" [value]="item.name"
              >{{ item.name }}
            </mat-option>
          </mat-select> -->
        </mat-form-field>
      </mat-card>
      <mat-card class="mat-card">
        <b class="label"><mat-label> Dish price </mat-label></b>

        <mat-form-field>
          <input matInput placeholder="price" formControlName="price" />
          <!-- <mat-select placeholder="price" formControlName="price">
            <mat-option *ngFor="let item of starterPrice" [value]="item.price"
              >{{ item.price }}
            </mat-option>
          </mat-select> -->
        </mat-form-field>
      </mat-card>
      <!-- </div>
    <div style="display: flex; flex-direction: row; margin-top: 16px"> -->
      <!-- <mat-card class="mat-card">
        <b class="label"><mat-label> Dish Description</mat-label></b>

        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="Description"
            formControlName="description"
          />
        </mat-form-field>
      </mat-card> -->
    </div>
    <button
      mat-raised-button
      style="margin-left: 718px; width: 119px; height: 32px; margin-top: 7px"
      (click)="submitData()"
    >
      submit
    </button>
  </form>
</div>
<div>
  <div style="flex-direction: column; margin-left: 2px">
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
    <img class="img" src="../../assets/zomato.png" />
  </div>
</div>
